#footer {
  text-align: center;
  padding-top: 10px;
  padding-right: 30px;
  font-size: 12px;
  color: white;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 1);
  background: url("../../../Assets/Images/Background/dark_background.png");
  height: 45px;
  position: relative;
  width: calc(100% - 30px);
  top: 20px;
  bottom: 0;
  box-shadow: inset 0px 6px 6px -6px rgba(0, 0, 0, 1);
}

#footer a {
  color: white;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

.navlink {
  position: relative;
  top: 0px;
  margin-left: 20px;
}

.navlink a {
  color: white;
  text-decoration: none;
}

.navlink a:hover {
  color: rgb(255, 191, 0);
  text-decoration: none;
}

.navCaretMargin {
  display: inline-block;
  margin-left: 3px;
}

.discord {
  position: absolute;
  z-index: 500;
  font-size: 30px;
  bottom: 20%;
  left: 1%;
  transition: 0.5s;
}

.discord:hover {
  font-size: 50px;
  background: white;
  color: rgb(96, 131, 255);
  transition: 0.5s;
}
