@import "../../Style/colors.sass"

.leaderboard
    .modeButtons
        table
            width: 100%
            padding-top: 10px
            padding-left: 70px
            padding-right: 70px

        tr
            width: 50%
        td
            width: 5%
    .lb
        table
            width: 100%
            text-align: left
            font-size: 15px
            color: $TEXT-COLOR-PRIMRAY
            padding-left: 50px
            padding-right: 50px
            padding-bottom: 50px
        a
            padding: 2.5px
            color: black
        thead
            font-weight: bold
            font-size: 15px
            background: rgba(black, .1)

        tbody

        tr
            width: 50%
        td
            width: 5%
    .cntr
        padding: 20px
        margin: auto
        text-align: center